[submodule "DealNMeal-IOS"]
	path = Deal-N-Meal-IOS
	url = https://github.com/iiandmy/Deal-N-Meal-IOS
[submodule "DealNMeal-Backend"]
	path = Deal-N-Meal-BackEnd
	url = https://github.com/iiandmy/Deal-N-Meal-BackEnd
[submodule "DealNMeal-Frontend"]
	path = Deal-N-Meal-FrontEnd
	url = https://github.com/iiandmy/Deal-N-Meal-FrontEnd
